body {
    font-family: Montserrat, Verdana, sans-serif;
    font-size: 16px;
    background-color: rgb(255, 249, 241);
    color: rgb(99, 98, 98);
    align-items: center;
}

#newslettertext {
    margin: 0;
}

#mainphoto {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 10px;
}

#hamburgermenu {
    display: none;
    position: absolute;
    top: 183px;
    right: 18px;
}

.Gallery {
    margin: 120px 100px 70px 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.photo {
    width: 30%;
    margin-bottom: 60px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 15px;
    height: max-content;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 25px;
}

p {
    font-size: 16px;
    margin: 10px 0px 0px 0px;

}

.Gallery img {
    width: 100%;
    border-radius: 25px 25px 0px 0px;
}

h1 {
    font-size: 24px;
    color: rgb(99, 98, 98);
    margin-bottom: 0px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 60px;
}

.price {
    font-size: 18px;
    font-weight: bolder;
    color: rgb(226, 43, 144);
}

.addtocart {
    width: 160px;
    height: 40px;
    background-color: rgb(226, 43, 144);
    color: rgb(255, 249, 241);
    border-radius: 5px;
    border: 0;
}

.addtocart:hover {
    background-color: rgb(255, 249, 241);
    color: rgb(226, 43, 144);
    border-radius: 5px;
    border: 1px solid rgb(226, 43, 144);
}

.more {
    display: flex;
    flex-direction: column;
    margin: 0px;
}

.bothprice {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.dressandstar {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.links li {
    display: inline-block;
    align-content: center;
}

.nav {
    display: flex;
    align-items: center;

}

input {
    height: 40px;
    width: 500px;
    border-radius: 20px;
    text-align: center;
}

.bottom {
    display: flex;
}

#icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 260px;
}

#logo {
    width: 300px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin: 60px 120px 10px 120px;
    position: relative;
}

.links {
    width: auto;
    margin: 0 100px 0 100px;
    border-bottom: 1px solid rgb(204, 143, 153);
    border-top: 1px solid rgb(204, 143, 153);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap; 
}

.sections {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 18px;
}

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap;
    margin: 0;
    width: 100%;
    padding: 20px 0px 20px 0px;
}

.links a {
    color: rgb(99, 98, 98);
    text-decoration: none;
    font-size: 16px;
}

.links a:hover {
    color: rgb(204, 143, 153);
    text-decoration: underline;
}

.nav__link[aria-current="page"] {
    background-color: rgb(226, 43, 144);
    padding: 5px 10px 5px 10px;
    color:  rgb(255, 249, 241);
    border-radius: 5px;
}

.footerp {
    margin: 0;
}

.footer {
    font-weight: 700;
    font-size: 16px;
    padding-bottom: 5px;
}

footer {
    font-size: 14px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px 100px 0px 100px;
    padding: 50px 0px 50px;
    border-bottom: 1px solid rgb(204, 143, 153);
    border-top: 1px solid rgb(204, 143, 153);
    color: rgb(99, 98, 98);
}

.footertext {
    margin: 0 20px 0 20px;
}

small {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}

.small {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 0px;
    color: rgb(99, 98, 98);
    margin: 0 120px 0 120px;
}

#customerservice {
    display: none;
}

#banner {
    background-color: rgb(226, 43, 144);
    color: rgb(255, 249, 241);
    font-size: 20px;
    font-weight: 700;
    height: 60px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

a.page-link,
.btn-secondary,
.dropdown-item {
    font-size: 16px;
}

.btn-secondary {
    background-color: rgb(255, 255, 255);
    border-radius: 0;
    color: rgb(204, 143, 153);
    border-color: rgb(204, 143, 153);
    width: 400px;
    border-radius: 5px;
}

.btn-secondary:hover {
    color: rgb(99, 98, 98);
}

#fill {
    font-size: 14px;
    color: rgb(99, 98, 98);
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 18px;
}

#pricecut {
    color: rgb(226, 43, 144);
}

article {
    width: 500px;
    margin-right: 350px;
}

.toggle-button {
    position: absolute;
    top: 210px;
    right: 18px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 24px;
    height: 24px;
    display: none;
    
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: rgb(99, 98, 98);
    border-radius: 10px;
    margin: 2px;
}

#newsletterbutton {
    width: 200px;
    height: 40px;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid rgb(224, 35, 139);
    background-color: rgb(224, 35, 139);
    color: rgb(255, 249, 241);
    animation: blink 2s linear infinite;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}

#newsletterbutton:hover {
    background-color: rgb(255, 249, 241);
    color: rgb(226, 43, 144);
    border-radius: 0px 5px 5px 0px;
}

.newsletter {
    width: 230px;
}

#newslettermail {
    width: 200px;
    border-radius: 5px;
}

#checksign {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    align-content: center;
}

@keyframes blink {
    0% {
        opacity: 90%;
    }

    50% {
        opacity: 60%;
    }
}

.class {
    background-color: yellow;
}

#chevron-up {
    position: fixed;
    bottom: 32px;
    right: 32px;
    width: 60px;
    height: 60px;
    display: none;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: rgb(99, 98, 98);
    border: none;
    color: rgb(255, 249, 241);
    cursor: pointer;
    transition: all .4s;
}

.help {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 260px;
}

#help {
    padding-right: 3px;
}

#iconsright {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.show {
    display: block;
}

#closetogglebutton{
position: absolute;
display: none;
}